.main-app-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 50vw;
}

.app-container {
  display: flex;
  flex-direction: column;
  width: auto;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
  background-color: #ecebdf;
  border-radius: 5;
}